.boton-contenedor {
    height: 83px;
    display: flex;
    flex: 1 1; /*Esta propiedad sirve para cuando haya elementos al lado de otro se ajusten los ANCHOS 1 en 1*/
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 38px;
    background-color: #1b1b32;
    color: white;
    border-radius: 25px;
    border: solid white;
    cursor: pointer;
    user-select: none;
}

.boton-contenedor:hover {
    background-color: #5a01a7;
}

.operador {
    background-color: #00471B;
}

.operador:hover {
    background-color:#ff6600 ;
}

